.socialContainer {
  width: 100%;
  background-color: #1b2a40;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2em;
}

.social {
  font-size: 1.5em;
  margin: 0 1em;
  color: white;
}

.social:hover {
  opacity: 0.6;
  transition: 0.2s;
}