header {
  width: 100%;
  min-height: 40px;
  background-color: #1b2a40;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  position: sticky;
  top: 0;
}

nav a {
  color: white;
  text-decoration: none;
  margin: 1em;
  font-size: 1.2em;
}

/* Nav:hover */
/* Hover stilsetting inspirert av: https://codepen.io/Taylor132465/pen/ONOzeJ */
.navElement,
.navElement:after,
.navElement:before {
  transition: all .5s;
}

.navElement {
  position: relative;
  transition: all 1s;
}

.navElement:after {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 0%;
  content: '.';
  color: transparent;
  background: white;
  height: 1px;
  content: '.';
  margin: 0;
  opacity: 0;
}

.navElement:hover:after {
  width: 100%;
  animation: fill 1s forwards;
  opacity: 1;
}

.navElement:hover {
  opacity: 0.5;
}

/* Nav:hover slutt */

/* Hamburgermenu */ 

/* Hide Hamburger */
nav label, #hamburger {
  display: none;
  position: absolute;
  right: 0;
  top: 0;
}

/* [ON SMALL SCREENS] */
@media screen and (max-width: 768px){
  /* Show Hamburger */
  nav label {
    display: inline-block;
    color: #fff;
    font-size: 1.2em;
    padding: 10px;
  }

  /* Break down menu items into vertical */
  nav a {
    display: block;
  }

  /* Toggle show/hide menu on checkbox click */
  nav a {
    display: none;
  }
  nav input:checked ~ a {
    display: block;
  }
}
