h1 {
  margin: 1em;
}

a {
  color: white;
}

.readmore {
  margin-top: 2em;
}

.infoBox {
  margin: 2em 5%;
  box-shadow: 5px 5px 5px #888888;
}

.jobtitleBox {
  width: 100%;
  background-color: #09172c;
  color: white;
  padding: 1em;
}

.dateBox {
  background-color: #8CBAFF;
  color: white;
  padding: 1em;
  text-shadow: 1px 1px 1px #09172c; 
}

.jobDesc {
  background-color: #1F62C7;
  color: white;
  padding: 1em;
  font-size: 1.1em;
}

.tech {
  font-style: italic;
}

.line {
  width: 95%;
  height: 1px;
  background-color: #09172c;
  margin: 5em auto;
}