* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: white;
  font-style: arial;
}

hr {
  width: 98%;
  margin-top: 0.5em;
  margin-bottom: 2em;
}

.firstContent {
  background-image: url('./images/coffeeLaptop.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  color: white;
  text-align: center;
  background-position: 91.5%;
}

.titles {
  margin: 0 3% 0 0;
}

a.anchor {
  display: block;
  position: relative;
  visibility: hidden;
  margin-bottom: 1.3em;
}

.aboutMeBox {
  position: static;
}

.aboutMe {
  font-size: 17px;
}

.username {
  font-weight: normal;
  font-size: 2.5em;
  white-space: nowrap;
}

.container {
  max-width: 100%;
}

.content {
  padding: 2em;
}

.btn {
  border: 2px solid white;
  border-radius: 2em;
  background: none;
  color: white;
  padding: 14px 28px;
  font-size: 18px;
  cursor: pointer;
  text-decoration: none;
  display: block;
  font-weight: 500;
}

.btn:hover {
  background: rgb(255, 255, 255, 0.3);
  color: black;
}

.firstContent > .btn {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, -50%);
}

.footer > .socialContainer {
  height: 100px;
  background-color: #1b2a40;
}

.aboutMeBox > .socialContainer {
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@media only screen and (min-width: 600px) {
  .username {
    font-size: 3em;
  }

  .aboutMeBox {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .aboutMeBox > .socialContainer {
    position: relative;
    margin-top: 2em;
  }
}

@media only screen and (min-width: 768px) {
  .cardContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
}
