* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: white;
  font-style: arial;
}

hr {
  width: 98%;
  margin-top: 0.5em;
  margin-bottom: 2em;
}

.firstContent {
  background-color: #1b2a40;
  color: white;
  padding: 2em;
  text-align: center;
}

.titles {
  margin: 0;
}

a.anchor {
  display: block;
  position: relative;
  visibility: hidden;
}

.username {
  font-weight: normal;
}

.container {
  max-width: 100%;
}

.content {
  padding: 2em;
}

.footer > .socialContainer {
  height: 100px;
}

@media screen and (min-width: 992px){
  .cardContainer {
    display: flex;
    flex-wrap: wrap;
  }
}